body {
    margin: 0;
    min-width: 250px;
}
.styleUni{
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
}
.globModal{
    left: 0px
}

.agenda_ table tr td{
    width: 100%;
}
.add{
    color: #f7f1e3;
}
.del{
    color: #c44569;
}
.update{
    color: #546de5;
}
.move{
    color: #574b90;cursor: grab;
}  
.save{
    color: #596275;
} 
.sousglobModal{
    width: 70%;
}
.eye{
    color:#ff5252;
    font-size: 1.7em;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close:hover {
    background-color: #f44336;
    color: white;
}
.header {
    background-color: #0c2461;
    padding: 30px 40px;
    color: white;
    text-align: center;
}
.header:after {
    content: "";
    display: table;
    clear: both;
}
.duration_input{
    width: 60%;
    margin-left: 20%;
}